
body {
  color: white;
  font-size: 16px;
  overflow-x: hidden;
  background: #fde48745;

}

.main {
  width:85%;
  max-width:100em;
  margin:30px auto;
  background: #61343421;
  border-radius: 5px;
  padding:0 20px 40px 20px;
}

.intro {
  padding:15px 22px;
  width:30em;
  letter-spacing: 2px;
  background: rgba(148, 60, 60, 0.59);
  box-shadow: 13px 17px 0px #b5b5b094;
  font-size: 1.2vw;
  overflow: hidden;
  transform-style: preserve-3d;
 transition: all 200ms linear;
 margin:20px auto;
 max-width:30em;
}

.intro h3 {
  font-size: 20px;
  line-height: 35px;
}

.intro h4 {
  line-height:30px;
}

#collapse {
  background:#fde48745 !important;
  margin:20px auto 0px;
  padding: 7px;
  display: none;
}

.more {
  // display:none;
}

#toggleSmall:before { content:'\2261'; }

#toggleSmall {
  display: none;
  font-size: 50px;
  position: fixed;
  top: 0;
  right: 0;
  float:left;
  z-index: 4;
  margin: 0 10px;
  color:hsla(02, 31%, 50%, 1);
}

#xx {
  font-size:25px;
}

#xx:hover {
  color:#ffef9f;
}



.overlay {
  display:none;
  position: fixed;
  background: hsla(0,50%,50%,.5);
  height:100%;
  width:100%;
  right:0;
  top:0;
  z-index:1;
  padding:10px;
}

.overlay > * {
  width:12em;
  margin:50px;
}

.sidebar {
position: fixed;
top:0;
left:0;
height:100%;
width: 43px;
padding:9px;
background:rgba(148, 60, 60, 0.81);
}

.sidebar a {
  display:block;
  margin: 15px 0;
  color:white;
  font-size: 20px;
}


.sidebar a:hover {
    color:#ffef9f;
    cursor: pointer;
}


.skills {
  width:90%;
  margin:30px auto;
  max-width:100em;
}

.skills > *  > * {
  margin:0 auto 20px;
  width:100%;
}

tr td:hover {
  cursor: pointer;
  background:  #ca6b67;
  color:white;
}

.table-bordered > * > * > * {
  padding:10px 0px;
  font-size: 12px;
  background: #8484840d;
  color:#757575;
}

.top {
  background-color: #ca6b67;
  color:white;
  letter-spacing: 1px;
  padding:15px;
}

.keys {
width:50%;
margin:0 auto;
}

.keys > *:hover {
    color:grey;
  }

.keys > * {
  cursor: pointer;
  display:inline-block;
  margin:0 auto;
  padding:5px;
  margin:5px;
  color:rgba(148, 60, 60, 0.45);;
  letter-spacing: 3px;
  font-size: 12px;
  max-width:90em;
}

footer h4:hover{
  cursor: pointer;
    color:#ffef9f;
}


.row1 {
  padding:60px 0 20px 0;
}

.row2 {
  padding:75px 0 20px 0;
}

.pic {
  width:18em;
  margin:20px auto;
  box-shadow: 1px 4px 10px 6px #e0e0e0;
}

.menu {
  padding:5px;
  letter-spacing: 2px;
  min-width: 20em;
  color:rgba(148, 60, 60, 0.45);
}

#myCarousel{
  width:60%;
  max-width:30em;
  margin:50px auto;
  box-shadow: 0px 2px 7px 4px #8a8787;
}


#cover {
  opacity: 0;
  position: fixed;
  background: black;
  height:100%;
  width:100%;
  top: 0;
  right: 0;
  padding:30px 0;
  transition: opacity .5s;
  }

  #littlelist{
    text-align: left;
  }

#littlelist > * {
  margin:7px;
  list-style: square;
  font-size: 12px;

}

  #title {
    color:white;
    list-style: none;
    text-decoration: underline;
    float:left;
    display: block;
  }

  #title:hover {
    color:#ffef9f
  }

  #list {
    float:left;
    width:100%;
  }


#myCarousel5{
  width:90%;
  max-width:35em;
  margin:50px auto;
  box-shadow: 0px 2px 7px 4px #8a8787;
}

#myCarousel .carousel-inner {
  margin:40px auto;
}

#myCarousel2 .carousel-inner{
  width:40%;
  margin:50px auto;
}

.image {
  width:11em;
  margin: auto;
}

#image {
  width:55%;
  margin:auto;
  box-shadow: 0px 7px 0px 15px #f3f5833d;
  max-width:15em;
}

.menu > * {
  display:inline-block;
  margin:15px 15px;
}

.contact {
  border:2px solid blue;
  width:70%;
  border:none !important;
  max-width:100em;

}

.contact > * > * {
  margin:5px auto;
  border:none !important;
}


.row3 > * > *{
  margin:5px auto;
  border:none !important;
}

.contactSubmitdiv > * {
  margin:5px auto;
  border:none !important;
  color:black !important;
  z-index:3;
}



footer {
  bottom:0;
  right:0;
  padding:15px;
  color:rgba(148, 60, 60, 0.45);
  background: #a75c59;
  width:50%;
  margin:50px auto;
  border-radius: 5px;
  color:white !important;
}

.foot {
  padding:10px 0;
  color:rgba(60, 132, 148, 0.45);
}

.foot > * {
  margin: 0 4px;
  color:white;
}
.foot > *:hover {
  color:#ffef9f;
}


@media (max-width: 550px) {

  #cover {
    display:none;
  }

  .main {
    width:90%;
    margin:0 auto
  }

  .intro h3 {
    font-size:18px;
    line-height: 25px;
  }

  .intro {
    font-size:12px;
    overflow:auto;
    padding:16px 16px;
    width:25em;
  }

  .more {
    display:none;
  }

  #collapse {
    display:block;
  }

  #toggleSmall {
    display: block;
  }

  #image {
    display:none;
  }

  .keys {
    width:100%;
  }

  .sidebar {
    display:none;
  }

  .main {
    background-color: transparent;
  }

  #myCarousel {
    width:100%;
  }

  .skills {
    width:100%;
    margin:0 auto;
  }

  .table-bordered > * > * > * {
    font-size:12px;
  }

  .top {
    padding:14px;
  }

  #xx {
    opacity: 0;
  }

}

@media (min-width: 550px) and (max-width: 767px) {

  .top {
    padding:15px;
  }

  #cover {
    display:none;
  }

  .intro {
      font-size: 18px;
      width:25em;
  }

  .more {
    display:none;
  }

  #collapse {
    display:block;
  }

  .table-bordered > * > * > * {
    font-size:18px;
  }
  #image {
    display:none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    padding:15px 20px;
    font-size: 11px;
  }

  .intro h3{
    font-size: 18px;
    line-height: 25px;
  }


  .table-bordered > * > * > * {
    font-size:12px;
  }


}

@media (min-width: 1024px) and (max-width: 1440px) {
.intro {
  font-size: 14px;
}

.intro h3 {
  font-size: 22px;
  line-height:30px;
}

.keys > * {
  font-size:15px;
}

#xx {
  font-size:25px;
}
}

@media (min-width: 1440px) {
  .keys > * {
    font-size:15px;
  }

  #xx {
    font-size:25px;
  }

  .intro {
    font-size:18px;
  }
  .intro h3 {
    font-size:30px;
    line-height:40px;
  }
}
